<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>查看试卷</title>
    <link rel="stylesheet" type="text/css" href="../../styles/formui.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/admin-all.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/themes/gray/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/themes/icon.css"/>
    <script type="text/javascript" src="../../scripts/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery-ui-1.8.22.custom.min.js"></script>
    <script type="text/javascript" src="../../scripts/tb.js"></script>
    <style type="text/css">
        .t{ width:100%; background: #cfd6e9; margin-bottom: 25px;}
        .t h1{ font-size: 16px;}
        .t b{ font-size: 14px; font-weight: 400;}
        .t b{ display: block; width: 100%;}
        .t label{ font-size: 14px;}
        .t label,input{ float:left;}
        .t input{ float:left; margin: 5px 5px 0 0;}
    </style>
</head>
<body>
    <div class="alert alert-info"><b>当前位置<b class="tip"></b>试卷查询<b class="tip"></b>查看试卷</b></div>
    <div class="t">
        <h1><a class="num">1.</a>点击按钮怎么跳转到另外一个页面呢？</h1><br/>
        <b><label>A:window.local.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>B:window.location.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>C:window.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>D:location.href="你所要跳转的页面";</label></b><br/><br/>
    </div>
    <div class="t">
        <h1><a class="num">2.</a>点击按钮怎么跳转到另外一个页面呢？</h1><br/>
        <b><label>A:window.local.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>B:window.location.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>C:window.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>D:location.href="你所要跳转的页面";</label></b><br/><br/>
    </div>
    <div class="t">
        <h1><a class="num">3.</a>点击按钮怎么跳转到另外一个页面呢？</h1><br/>
        <b><label>A:window.local.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>B:window.location.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>C:window.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>D:location.href="你所要跳转的页面";</label></b><br/><br/>
    </div>
    <div class="t">
        <h1><a class="num">4.</a>点击按钮怎么跳转到另外一个页面呢？</h1><br/>
        <b><label>A:window.local.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>B:window.location.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>C:window.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>D:location.href="你所要跳转的页面";</label></b><br/><br/>
    </div>
    <div class="t">
        <h1><a class="num">5.</a>点击按钮怎么跳转到另外一个页面呢？</h1><br/>
        <b><label>A:window.local.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>B:window.location.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>C:window.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>D:location.href="你所要跳转的页面";</label></b><br/><br/>
    </div>
    <div class="t">
        <h1><a class="num">6.</a>点击按钮怎么跳转到另外一个页面呢？</h1><br/>
        <b><label>A:window.local.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>B:window.location.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>C:window.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>D:location.href="你所要跳转的页面";</label></b><br/><br/>
    </div>
    <div class="t">
        <h1><a class="num">7.</a>点击按钮怎么跳转到另外一个页面呢？</h1><br/>
        <b><label>A:window.local.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>B:window.location.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>C:window.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>D:location.href="你所要跳转的页面";</label></b><br/><br/>
    </div><div class="t">
        <h1><a class="num">8.</a>点击按钮怎么跳转到另外一个页面呢？</h1><br/>
        <b><label>A:window.local.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>B:window.location.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>C:window.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>D:location.href="你所要跳转的页面";</label></b><br/><br/>
    </div><div class="t">
        <h1><a class="num">9.</a>点击按钮怎么跳转到另外一个页面呢？</h1><br/>
        <b><label>A:window.local.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>B:window.location.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>C:window.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>D:location.href="你所要跳转的页面";</label></b><br/><br/>
    </div><div class="t">
        <h1><a class="num">10.</a>点击按钮怎么跳转到另外一个页面呢？</h1><br/>
        <b><label>A:window.local.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>B:window.location.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>C:window.href="你所要跳转的页面";</label></b><br/><br/>
        <b><label>D:location.href="你所要跳转的页面";</label></b><br/><br/>
    </div>
    <table width="30%">
        <tr align="center">
            <td><input type="button" class="btn"  onclick="window.location.href='answer_static.html';" value="查看答案"/></td>
            <td><input type="button" class="btn"  onclick="window.location.href='myScore.html';"  value="查看成绩"/></td>
        </tr>
    </table>
</body>
</html>
