<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>考试准备页面</title>
    <link rel="stylesheet" type="text/css" href="../../styles/formui.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/admin-all.css" />
    <style type="text/css">
        #applis li a{ width: 24%; border-right: 1px solid #333333;}
        #applis li a.h{ width: 50%;}
    </style>
</head>
<body>
<div class="alert alert-info"><b>当前位置<b class="tip"></b>在线考试<b class="tip"></b>考试准备页面</b></div>
<div class="news">
    <div class="alert"><b>请确认考试信息：</b></div>
    <ul id="applis" class=" newlist kid">
        <li><a class="h" href="#this">考试名称</a><a>状态</a><a>分数</a></li>
        <li><a class="h" href="#this">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a><a>未考试</a><a>/</a></li>
    </ul>
    <table width="85%" style="position: relative; top: 50px;">
        <tr align="center">
            <td><a href="javascript:void(0);" onclick="window.location.href='exam.html';" class="btn">开始考试</a></td>
            <td><a target="Conframe" href="sign_up_ready.html" class="btn">取消</a></td>
        </tr>
    </table>
</div>
</body>
</html>