<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>成绩排行</title>
    <link rel="stylesheet" type="text/css" href="../../styles/formui.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/admin-all.css" />
    <style type="text/css">
        .newlist li a.h{ width:49.9%; border-right: 1px solid #ddd;}
    </style>
</head>
<body>
<div class="alert alert-info"><b>当前位置<b class="tip"></b>成绩查询<b class="tip"></b>成绩排行</b></div>
<div class="news">
    <div class="alert"><b>已考试列表</b></div>
    <ul class=" newlist kid">
        <li><a class="h" href="#"><b>考试信息</b></a><a><b>成绩排行</b></a></li>
        <li><a class="h" href="#">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a><a>前15%</a></li>
        <li><a class="h" href="#">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a><a>前20%</a></li>
        <li><a class="h" href="#">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a><a>前10%</a></li>
        <li><a class="h" href="#">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a><a>前30%</a></li>
    </ul>
</div>
</body>
</html>