<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>公告</title>
    <link rel="stylesheet" type="text/css" href="../../styles/formui.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/admin-all.css" />
    <style type="text/css">
        .kid li a{width: 33.3%;}

    </style>
</head>
<body>
    <div class="alert alert-info"><b>当前位置<b class="tip"></b>首页</b></div>
    <div class="news">
        <div class="alert"><b>公告栏</b></div>
        <ul class="newlist kid">
            <li><b><a class="tit">公告标题</a><a>公告内容</a><a>发布时间</a></b></li>
            <li><a class="tit">aaaaaaaaaaaaa</a><a>dfsdtyutytsfsfsfytfsfsfsfsfsf</a><a>10-09</a></li>
            <li><a class="tit">aaaaaaaaaaaaaaaaa</a><a>dfsdfsfryfsfsfsftttttsfsfsfsf</a><a>10-08</a></li>
            <li><a class="tit">aaaa</a><a>dfsdfsfsfsryteyrtyeyyyyyyyyyyyyyyyyfsfsf</a><a>10-07</a></li>
            <li><a class="tit">aaaaaaaaaaaaa</a><a>dfsdfsfreyrtyreyreyreysfsfsfsf</a><a>10-06</a></li>
            <li><a class="tit">aaaaaaaaaaaaaa</a><a>dfsdfsfsfsdfdsfsdfsfsfsfsffsfsf</a><a>10-05</a></li>
            <li><a class="tit">aaaaaaaaaaaaaa</a><a>dfsdfsfsfsfsfsfsdfsfsfsfsf</a><a>10-04</a></li>
            <li><a class="tit">aaaaaaaaaa</a><a>dfsdfsfsfsfsfsfsfdsfsfsffsfsf</a><a>10-03</a></li>
        </ul>
    </div>
</body>
</html>