<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>发布公告</title>
    <link rel="stylesheet" type="text/css" href="../../styles/formui.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/admin-all.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/themes/gray/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/themes/icon.css"/>
    <script type="text/javascript" src="../../scripts/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery-ui-1.8.22.custom.min.js"></script>
    <script type="text/javascript" src="../../scripts/tb.js"></script>
</head>
<body>
<div class="alert alert-info"><b>当前位置<b class="tip"></b>公告管理<b class="tip"></b>发布公告</b></div>
<form action="notices_news.html" method="post">
    <table class="tbform" id="list">
        <tbody>
        <tr>
            <td class="tdl">公告标题<font color="red">（*）</font></td>
            <td><input type="text"  style="width:600px" /></td>
        </tr>
        <tr>
            <td class="tdl">公告内容<font color="red">（*）</font></td>
            <td><input type="text"  style="width:600px" /></td>
        </tr>
        </tbody>
    </table>
    <table width="100%">
        <tr align="center">
            <td><input type="submit" class="btn"  value="发布"/></td>
            <td><input type="reset" class="btn"  value="重置"/></td>
            <td><a href="news_manager.html" class="btn"  >取消</a></td>
        </tr>
    </table>
</form>
</body>
</html>
