<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>删除公告</title>
    <link rel="stylesheet" type="text/css" href="../../styles/formui.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/admin-all.css" />
    <style type="text/css">
        .kid li a{width: 33.3%;}
    </style>
</head>
<body>
<div class="alert alert-info"><b>当前位置<b class="tip"></b>公告管理<b class="tip"></b>删除公告</b></div>
<div class="news">
    <div class="alert"><b>公告栏</b></div>
    <ul class="newlist kid">
        <li><b><a class="tit">公告标题</a><a>发布人</a><a>操作</a></b></li>
        <li><a class="tit">aaaaaaaaaaaaa</a><a>M14</a><a>删除</a></li>
        <li><a class="tit">aaaaaaaaaaaaaaaaa</a><a>M12</a><a>删除</a></li>
        <li><a class="tit">aaaa</a><a>M13</a><a>删除</a></li>
        <li><a class="tit">aaaaaaaaaaaaa</a><a>M15</a><a>删除</a></li>
        <li><a class="tit">aaaaaaaaaaaaaa</a><a>M12</a><a>删除</a></li>
        <li><a class="tit">aaaaaaaaaaaaaa</a><a>M11</a><a>删除</a></li>
        <li><a class="tit">aaaaaaaaaa</a><a>M10</a><a>删除</a></li>
    </ul>
</div>
</body>
</html>