<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>修改考题</title>
    <link rel="stylesheet" type="text/css" href="../../styles/formui.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/admin-all.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/themes/gray/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/themes/icon.css"/>
    <script type="text/javascript" src="../../scripts/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery-ui-1.8.22.custom.min.js"></script>
    <script type="text/javascript" src="../../scripts/tb.js"></script>
</head>
<body>
<div class="alert alert-info"><b>当前位置<b class="tip"></b>题库管理<b class="tip"></b>修改考题</b></div>
<form action="notices_que.html" method="post">
    <table class="tbform" id="list">
        <tbody>
        <tr>
            <td class="tdl">试题题目<font color="red">（*）</font></td>
            <td><input type="text" style="width:600px" value="人工费广告费刚刚好刚刚好"/></td>
        </tr>
        <tr>
            <td class="tdl">答案A<font color="red">（*）</font></td>
            <td><input type="text" style="width:600px" value="的翻译官方"/></td>
        </tr>
        <tr>
            <td class="tdl">答案B<font color="red">（*）</font></td>
            <td><input type="text" style="width:600px" value="的翻译vv官方"/></td>
        </tr>
        <tr>
            <td class="tdl">答案C<font color="red">（*）</font></td>
            <td><input type="text"  style="width:600px" value="的翻的vfdvfdf译官方"/></td>
        </tr>
        <tr>
            <td class="tdl">答案D<font color="red">（*）</font></td>
            <td><input type="text"  style="width:600px" value="的翻译vvxfbdvgfd官方"/></td>
        </tr>
        <tr>
            <td class="tdl">正确答案<font color="red">（*）</font></td>
            <td><input type="text"  style="width:600px" value="A"/></td>
        </tr>
        </tbody>
    </table>
    <table width="100%">
        <tr align="center">
            <td><input type="submit" class="btn"  value="提交"/></td>
            <td><input type="reset" class="btn"  value="重置"/></td>
            <td><a href="queList.html" class="btn"  >取消</a></td>
        </tr>
    </table>
</form>
</body>
</html>
