<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>删除考题</title>
    <link rel="stylesheet" type="text/css" href="../../styles/formui.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/admin-all.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/themes/gray/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/themes/icon.css"/>
    <script type="text/javascript" src="../../scripts/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery-ui-1.8.22.custom.min.js"></script>
    <script type="text/javascript" src="../../scripts/tb.js"></script>
</head>
<body>
<div class="alert alert-info"><b>当前位置<b class="tip"></b>题库管理<b class="tip"></b>删除考题</b></div>
<form action="notices_del.html?type=del&roomId=1" method="post">
    <table class="tbform" id="list">
        <tbody>
        <tr>
            <td class="tdl">试题题目<font color="red">（*）</font></td>
            <td><input type="text"  style="width:600px" value="人员多个"  disabled="disabled"/></td>
        </tr>
        <tr>
            <td class="tdl" rowspan="4">试题答案<font color="red">（*）</font></td>
            <td>A:<input type="text"  style="width:590px"  disabled="disabled" value="体育台好听不"/></td>
        </tr>
        <tr>
            <td>B:<input type="text"  style="width:590px"  disabled="disabled" value="体育yuy台好听不"/></td>
        </tr>
        <tr>
            <td>C:<input type="text"  style="width:590px"  disabled="disabled" value="体育台好rrty听不"/></td>
        </tr>
        <tr>
            <td>D:<input type="text"  style="width:590px"  disabled="disabled" value="体yu育5r66台好听不"/></td>
        </tr>
        <tr>
            <td class="tdl">正确答案<font color="red">（*）</font></td>
            <td><input type="text"  style="width:600px"  disabled="disabled" value="D"/></td>
        </tr>
        </tbody>
    </table>
    <table width="100%">
        <tr align="center">
            <td><input type="submit" class="btn"  value="确认删除"/></td>
            <td><a href="queList.html" class="btn"  >取消</a></td>
        </tr>
    </table>
</form>
</body>
</html>
