<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>在线考试列表页</title>
    <link rel="stylesheet" type="text/css" href="../../styles/formui.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/admin-all.css" />
    <style type="text/css">
        #applis li a{ width: 25%;}
        #applis li a.h{ width: 50%;}
    </style>
</head>
<body>
<div class="alert alert-info"><b>当前位置<b class="tip"></b>在线考试</b></div>
<div class="news">
    <div class="alert"><b>已报名考试列表</b>&nbsp;&nbsp;&nbsp;&nbsp;点击即可进入考试</div>
    <ul id="applis" class=" newlist kid">
        <li><b><a class="h">考试信息</a><a>状态</a><a>成绩</a></b></li>
        <li><a class="h" target="Conframe" href="exam_ready.html">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a><a>未考试</a><a>/</a></li>
        <li><a class="h" target="Conframe" href="exam_ready.html">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a><a>未考试</a><a>/</a></li>
        <li><a class="h" target="Conframe" href="exam_ready.html">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a><a>未考试</a><a>/</a></li>
        <li><a class="h" href="#">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a><a>已考试</a><a>86</a></li>
        <li><a class="h" href="#">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a><a>已考试</a><a>80</a></li>
        <li><a class="h" href="#">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a><a>已考试</a><a>88</a></li>
        <li><a class="h" href="#">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a><a>已考试</a><a>76</a></li>
    </ul>
</div>
</body>
</html>