<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online_examination_sys.mapper.AchivementMapper">

    <select id="getAllAchivement" resultType="Achivement">
        select * from achivement where 1 = 1
    </select>

    <select id="getAchivementById" resultType="Achivement">
        select * from achivement where id = #{Id}
    </select>

    <insert id="addAchivement" parameterType="RegisterDTO">
        INSERT INTO `achivement`( `user_id`, `paper_id`,`score`,`status`) VALUES (#{User_id},#{Paper_id},#{Score},#{Status})
    </insert>

    <update id="updateAchivementById" parameterType="Achivement">
        UPDATE `achivement` SET `user_id`=#{User_id},`paper_id`=#{Paper_id},`score`=#{Score}`,`status`=#{Status} WHERE `id`=#{Id}
    </update>

    <delete id="deleteAchivementById">
        DELETE FROM `achivement` WHERE id = #{Id}
    </delete>

</mapper>